# IDEs and editors
**/.idea
**/.vscode

# Cache files
**/__pycache__
**/.pytest_cache
*.pyc
**/.nipype

# Build files
*.egg-info
*.spec
build/
**/dist

# Data
**/dicoms
**/unittest-data
**/.dosma

# Ignore runtime generated package scripts
**/._*

# Generated docs
docs/source/generated

# Preferences
**/preferences.*


# Ignore all resources
**/resources

# Coverage files
.coverage
coverage.xml

# scripts
compute_t2_fc_dess.py
main_pipeline.ipynb
cluster_analysis_copy.ipynb
cluster_analysis_pipeline_example.ipynb
main_pipeline.py
surfaces_plots.ipynb
T2C_metrics_plots.ipynb
T2C_analysis_pipeline_Dess.py
trial.ipynb
trial_dess.ipynb
stdout.nipype
combine_t2c_results.py


# Other folders
**/dependencies
**/DOSMA
**/pymskt
**/segmentation_check
**/logs
**/output
**/results
**/dosma_weights
**/weights
**/data
**/logs